<h1>Edit User</h1>


    <%= form_with model: @users, url:user_path(@users), method: :patch do |form|  %>

    <div>
        <%= form.label :name%>
        <%= form.text_field :name%>
    </div>

    <div>
        <%= form.label :email%>
        <%= form.text_field :email%>
    </div>

    <div>
        <%= form.label :password%>
        <%= form.text_field :password%>
    </div>

    <%= form.submit "Submit" %>



    <%end%>